# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Rust
target/
**/*.rs.bk

# IDE files
.idea/
.vscode/
*.swp
*.swo

# macOS files
.DS_Store

# Config files with sensitive information
.env
config.json

# Documentation
README.md
LICENSE
docs/

# CI/CD
.github/
.travis.yml
.gitlab-ci.yml

# Homebrew
homebrew/ 